fastapi==0.121.1
uvicorn[standard]==0.30.6
python-dotenv==1.2.1
PyMuPDF==1.26.6
pydantic==2.12.4
supabase==2.24.0
google-genai==1.49.0
google-cloud-storage==3.5.0
requests==2.32.5
regex==2025.11.3
python-multipart 0.0.20